<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="#" style="color:white;">My Cloud</a>

  <div class="justify-content-between">
      <button class="btn btn-outline-dark my-2 my-sm-0" *ngIf=!check type="button" routerLink="/login">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-outline-dark my-2 my-sm-0" *ngIf=!check type="button" routerLink="/signup">Sign up</button>
      <button class="btn btn-outline-dark my-2 my-sm-0" *ngIf=check type="button" (click)=logout() routerLink="/">Logout</button>
  </div>

</nav>
