<div class="login">
    <div class="logo">
      <h3><img src="/assets/cloud.png" alt="" height="35">
      MyCloud</h3>
      </div>
      <div class="col-5  vertical-form sign-in">
            <legend>Sign Up</legend>
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
            <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="rpassword">
            <button type="button" class="btn btn-lg btn-block" (click)=signup()>Sign up</button>
            <p></p>
      </div>
      <div class="footer">
        <p>Already have an account?
          <a routerLink="/login">Log In</a>
        </p>
      </div>
</div>
