<div class="container">
  <div class="row justify-content-center align-items-center">
      <div class="col-xs"></div>
      <div class="col-xs-4">
        <br/>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
          </div>
        <br/>
          <div class="input-group input-group-lg">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
          </div>
        <br/>
          <div class="row">
            <div class="col"></div>
            <div class="col-xs-2">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn btn-info" (click)=signup()>SignUp</button>
              </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="col-xs"></div>
  </div>
</div>
