<div class="container">
  <div class="row justify-content-center align-items-center">
      <div class="col-xs"></div>
      <div class="col-xs-4 main">
        <br/>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
          </div>
        <br/>
          <div class="input-group input-group-lg">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
          </div>
          <br/><br/>
            <button type="button" class="btn btn-lg btn-block" (click)=signup()>SignUp</button>
    </div>
    <div class="col-xs"></div>
  </div>
</div>
