<div class="common">
  <header></header>
  <div class="dashoard_body">
    <div class="row">
      <div class="small-12 columns">
        <h1>Create Containers</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <h2>Choose an image</h2>
        <ul class="small-block-grid-6">
          <li>
            <div class="img">
              <button class="btn btn-lg btn-block">
                <span class="img-name">Ubuntu</span>
              </button>
            </div>
          </li>
          <li>
            <div class="img">
              <button class="btn btn-lg btn-block">
                <span class="img-name">Debian</span>
              </button>
            </div>
          </li>
          <li>
            <div class="img">
              <button class="btn btn-lg btn-block">
                <span class="img-name">Fedora</span>
              </button>
            </div>
          </li>
          <li>
            <div class="img">
              <button class="btn btn-lg btn-block">
                <span class="img-name">Centos</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
