<div class="container">
  <div class="row justify-content-center align-items-center">
      <div class="col col-xs-8">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Ip Address</th>
              <th>Created</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let container of containers">
              <td>logo</td>
              <td>{{container.name}}</td>
              <td>{{container.ip}}</td>
              <td>{{container.created}} ago</td>
              <td>{{container.status}}</td>
            </tr>
          </tbody>
      </table>
      </div>
  </div>
</div>
