/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    font-family: "proxima-nova", "proxima nova", "helvetica neue", "helvetica", "arial", sans-serif;
    background: #1A4865;
    padding: 0;
    margin: 0;
}
.common{
    background-color:white;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    font-family: proxima-nova,"proxima nova","helvetica neue",helvetica,arial,sans-serif;
}
